/*
 * Semidrive kunlun platform DTS file
 *
 * Copyright (C) 2019, Semidrive  Communications Inc.
 *
 * This file is licensed under a dual GPLv2 or X11 license.
 */

/dts-v1/;
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/pins-sdx9.h>
#include <dt-bindings/memmap/d9lite/projects/default/image_cfg.h>
#include <dt-bindings/memory/sdrv_ion.h>
#include <dt-bindings/rpmsg/sd,d9lite-default.h>
#include "d9-lite.dtsi"

/ {
	model = "Semidrive kunlun D9lite REF Board";

	compatible = "semidrive,kunlun";

	aliases {
		serial0 = &uart15;
		serial1 = &uart1;
		serial2 = &uart2;
		//serial3 = &uart3;//safety debug uart
		serial4 = &uart4;
		serial5 = &uart5;
		serial6 = &uart6;
		serial7 = &uart7; /* no use */
		serial8 = &uart8; /* no use */
		serial9 = &uart9;
		//serial10 = &uart10;//sec ssystem debug uart
		serial11 = &uart11;
		serial12 = &uart12;
		serial13 = &uart13;
		serial14 = &uart14;
		//serial15 = &uart15;//linux debug uart
		serial16 = &uart16;
		ethernet1 = &ethernet1;
		ethernet2 = &ethernet2;
	};

	memory@50000000 {
		device_type = "memory";
		reg = <HIGH32(AP2_REE_MEMBASE) LOW32(AP2_REE_MEMBASE) \
			   HIGH32(AP2_REE_MEMSIZE) LOW32(AP2_REE_MEMSIZE) \
			   HIGH32(AP2_2ND_MEMBASE) LOW32(AP2_2ND_MEMBASE) \
			   HIGH32(AP2_2ND_MEMSIZE) LOW32(AP2_2ND_MEMSIZE) \
			   0x0 (VDSP_MEMBASE + 0x4000) \
			   0x0 (VDSP_SHARE_MEMSIZE + VDSP_MEMSIZE - 0x4000)>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ramoops {
			compatible = "ramoops";
			reg = <HIGH32(AP2_BOARD_RAMDISK_MEMBASE + AP2_BOARD_RAMDISK_MEMSIZE + 0x1000000)
				LOW32(AP2_BOARD_RAMDISK_MEMBASE + AP2_BOARD_RAMDISK_MEMSIZE + 0x1000000) 0x0 0x100000>;
			record-size = <0x60000>;
			console-size = <0x40000>;
			ftrace-size = <0x20000>;
			pmsg-size = <0x40000>;
		};

		/* Default Common CMA Pool */
		/* QUIRK: Must be kept in the lower 4096 MiBs of DRAM banks for VE */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x40000000>; /* 1024MB */
			/* 4GB maximum in case of 32-bit only capable devices */
			alloc-ranges = <0x0 0x0 0x0 0xffffffff>;
			linux,cma-default;
		};

		rproc_0_safety: rproc@0 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 RPMSG0_MEM_POOL_BASE 0x0 RPMSG0_MEM_POOL_SIZE>;
		};

		rproc_1_secure: rproc@1 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 RPMSG1_MEM_POOL_BASE 0x0 RPMSG1_MEM_POOL_SIZE>;
		};

		xrp_reserved: xrp@0 {
			compatible = "shared-dma-pool";
			status = "okay";
			no-map;
			reg = <0x0 VDSP_SHARE_MEMBASE 0x0 0x4000>;
		};

		xrp_shared: xrp,shmem {
			reg = <0x0 (VDSP_SHARE_MEMBASE+0x4000) 0x0 (VDSP_SHARE_MEMSIZE-0x4000)>;
		};

	};

	chosen {
		bootargs = "skip_initramfs noinitrd root=/dev/mmcblk0p4 rootfstype=ext4 rootwait rw init=/sbin/init highres=1 earlycon loglevel=4 nr_uarts=16 console=ttyS0,115200n8 fbcon=map:1 androidboot.mode=normal androidboot.selinux=permissive androidboot.debuggable=1 androidboot.dm_verity=disable psplash=false";
		stdout-path = "serial0";
	};

	vdd_12: fixed-vdd_12 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_12v";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vdd_3v3: fixed-vdd_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vdd_1v8: fixed-vdd_1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	es7134: codec@es7134 {
		compatible = "everest,es7134";
		status = "disabled";
	};

	sound_es7243e: sound@es7243e {
		compatible = "semidrive,d9-ref-es7243e";
		semidrive,audio-codec = <&es7243e>;
		status = "disabled";
	};

	sound_es7144: sound@es7144 {
		compatible = "semidrive,d9-ref-es7144";
		semidrive,audio-codec = <&es7134>;
		semidrive,jack-gpio = <&port4b 29 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	leds {
		compatible = "gpio-leds";
		status = "disabled";
		led0: heartbeat {
			label = "heartbeat";
			gpios = <&port5a 4 GPIO_ACTIVE_LOW> ;//sch-part-D6<->gpio_a4
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
	};

	gpio-keys {
		status = "disabled";
		compatible = "gpio-keys";
		autorepeat;
		up {
			label = "GPIO Key POWER";
			linux,code = <KEY_POWER>;//KEY_POWER
			gpios = <&port5d 28 GPIO_ACTIVE_LOW> ;//sch-part-J8<->gpio_H2 io124 Y7
		};
	};

	adc-keys0 {
		status = "disabled";
		compatible = "adc-keys";
		io-channels = <&adc_ap 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <30500000>;
		poll-interval = <100>;

		button-up {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <28800000>;
		};

	};

	adc-keys1 {
		status = "disabled";
		compatible = "adc-keys";
		io-channels = <&adc_ap 2>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <59400000>;
		poll-interval = <100>;

		button-down {
			label = "Volume Down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <57600000>;
		};

	};

	adc-keys2 {
		status = "disabled";
		compatible = "adc-keys";
		io-channels = <&adc_ap 3>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <88000000>;
		poll-interval = <100>;

		button-enter {
			label = "Enter";
			linux,code = <KEY_ENTER>;
			press-threshold-microvolt = <86400000>;
		};
	};

	semidrive_bl0: panel0-backlight {
		compatible = "sd,rpmsg-bl"; /*"sd,rpmsg-bl" for rpmsg; "pwm-backlight" for native*/
		bl_screen-id = /bits/ 32 <1>;
		//pwms = <&pwm4 PWM_CH0 PWM_FREQUENCY PWM_POLARITY_INVERSED>;
		brightness-levels = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
							 17 18 19 20 21 22 23 24 25 26 27 28 29 30
							 31 32 33 34 35 36 37 38 39 40 41 42 43 44
							 45 46 47 48 49 50 51 52 53 54 55 56 57 58
							 59 60 61 62 63 64 65 66 67 68 69 70 71 72
							 73 74 75 76 77 78 79 80 81 82 83 84 85 86
							 87 88 89 90 91 92 93 94 95 96 97 98 99 100>;
		default-brightness-level = <70>;
		status = "disabled";
	};

};

&dmac4 {
	status = "okay";
};
&dmac5 {
	status = "okay";
};
&dmac6 {
	status = "okay";
};

&afe_i2s_sc2{
//sch part u19(codec dac es7144)
	dmas = <&dmac4 X9_DMA_SLV_ID_I2S_SC3_TX>, <&dmac4 X9_DMA_SLV_ID_I2S_SC3_RX>;
	dma-names = "tx", "rx";
	status = "disabled";
};

&afe_i2s_sc3{
//sch part u20(codec adc es7243)
	dmas = <&dmac4 X9_DMA_SLV_ID_I2S_SC4_TX>, <&dmac4 X9_DMA_SLV_ID_I2S_SC4_RX>;
	dma-names = "tx", "rx";
	semidrive,full-duplex = <0>;
	status = "disabled";
};

&afe_i2s_sc5{
	dmas = <&dmac4 X9_DMA_SLV_ID_I2S_SC6_TX>, <&dmac4 X9_DMA_SLV_ID_I2S_SC6_RX>;
	dma-names = "tx", "rx";
	status = "disabled";
};

&afe_i2s_sc7{
	dmas = <&dmac4 X9_DMA_SLV_ID_I2S_SC8_TX>, <&dmac4 X9_DMA_SLV_ID_I2S_SC8_RX>;
	dma-names = "tx", "rx";
	status = "disabled";
};


&i2c2 {
	status = "disabled";
};

&i2c3 {
//sch part U22(pvt sgm452t)
	status = "disabled";
	dtt@4f {
		compatible = "sgmicro,sgm452";
		reg = <0x4f>;
	};

	rx8025t: rx8025t@32 {
		compatible = "epson,rx8025";
		reg = <0x32>;
	};
};
&i2c4 {
	status = "disabled";
	ksz9896c:ksz9896c@5f {
		compatible = "switch,ksz9896c";
		ksz9896c,reset-gpio = <&port5b 24 GPIO_ACTIVE_LOW>;
		ksz9896c,pwdn-gpio =  <&port5b 28 GPIO_ACTIVE_LOW>;
		//gpios = <&port5d 28 GPIO_ACTIVE_LOW> ;//sch-part-J8<->gpio_H2 io124 Y7

		reg = <0x5f>;
	};
};

&i2c5 {
	status = "disabled";
	es7243e: codec@10 {
		compatible = "MicArray_0";
		reg = <0x10>;
	};
};

&i2c6 {
//sch part U5(tp2850)
	status = "okay";
};

&i2c7 {
	status = "disabled";
};

&i2c8 {
//sch part U3(N4)
	status = "disabled";
};

&i2c9 {
	status = "disabled";

};

&i2c10 {
//sch part U7(LT9611)
	status = "disabled";


};

&i2c11 {
//sch part cn4(lvd tp)
	status = "disabled";
};


&uart15 {
//linux debug
	dmas = <&dmac4 X9_DMA_SLV_ID_UART15_TX>, <&dmac4 X9_DMA_SLV_ID_UART15_RX>;
	dma-names = "tx", "rx";
	status = "okay";
};

&uart1 {
//xm1 --need flip
	status = "disabled";
};

&uart2 {
//rs485
//sch part u28 sit3485
	snps,dma-not-used;
	snps,config-as-485-function;
	snps,485_re_polarity_val = <0>;
	snps,485_de_polarity_val = <1>;

	/*  0: full duplex
	 *  1: software half duplex
	 *  2: hardware half duplex
	 */
	snps,485_xfer_mode = <0>; /* sit3485 support full duplex only */
	snps,485_de_assert_time = <0x32>;
	snps,485_de_deassert_time = <0xf>;
	snps,485_de2re_turn_around_time = <0x51>;
	snps,485_re2de_turn_around_time = <0x38>;
	status = "okay";
};

//&uart3 {
//saf debug uart,we not use for ever
//	status = "disabled";
//};

&uart4 {
	status = "disabled";
};

&uart5 {
	status = "disabled";
};

&uart6 {
//rs232
//sch part u29 sit3232
	snps,dma-not-used;
	status = "okay";
};

&uart9 {
//sch part xm1 --need flip
	status = "disabled";
};

&uart10 {
//sec debug
	status = "disabled";
};

&uart11 {
	status = "disabled";
};

&uart12 {
//sch part xm7 --need flip
	status = "disabled";
};

&uart13 {
//sch part xm5 --need flip
	status = "disabled";
};

&uart14 {
//sch part xm6 --need flip
	status = "disabled";
};


&uart16 {
//sch part xm8 --need flip
	status = "disabled";
};

&generic_timer {
	status = "okay";
};

&adc_ap {
	resolution_value = <0x03>; /*ADC_6_BITS_E0 = 0x00 , ADC_8_BITS_E1 = 0x01 , ADC_10_BITS_E2 = 0x02 , ADC_12_BITS_E3 = 0x03*/
	clksrc_sel = <0x00>; /*ADC_SRC_CLK_ALT_E0 = 0x00 , ADC_SRC_CLK_PCLK_E1 = 0x01 , ADC_SRC_CLK_EXT_E2 = 0x02*/
	clk_value = <24000000>;
	use-adc-fifo;
	vref-supply = <&vdd_1v8>;
	status = "disabled";
};

&vpu2 {
	resets = <&rstgen RSTGEN_MODULE_VPU2>;
	reset-names = "vpu-reset";
	status = "disabled";
};

&gpu1 {
	status = "disabled";
};

&clk_gpu2 {
	status = "disabled";
};
&vdsp {
	reg = <0x0 VDSP_SHARE_MEMBASE 0x0 0x1000>, /* DSP command queue */
	      <0x0 (VDSP_SHARE_MEMBASE+0x4000) 0x0 (VDSP_SHARE_MEMSIZE-0x4000)>, /* DSP shared memory */
	      <0x0 0x34040000 0x0 0x1000>, /* vdsp mu base address, pass to vdsp, won't map */
	      <0x0 0x38316000 0x0 0x1000>, /* scr 0x458 */
	      <0x0 0x3839e000 0x0 0x1000>, /* scr 0x678 */
	      <0x0 0x38401000 0x0 0x2000>, /* rstgen core 0 */
	      <0x0 0x38466000 0x0 0x1000>; /* rstgen module 38 */
	firmware-name = "xtensa.elf";
	firmware-entry = <VDSP_MEMBASE>;
	/*data ram0, data ram1, system ram, shared ram*/
	ranges = <0x0 0x00a00000 0x0 0x00a00000 0x0 0x00020000
		  0x0 0x00a20000 0x0 0x00a20000 0x0 0x00020000
		  0x0 VDSP_MEMBASE 0x0 VDSP_MEMBASE 0x0 VDSP_MEMSIZE
		  0x0 LOW32(AP2_KERNEL_MEMBASE-0x80000) 0x0 LOW32(AP2_KERNEL_MEMBASE-0x80000) 0x0 LOW32(0x100000000-AP2_KERNEL_MEMBASE+0x80000)
		  0x0 VDSP_SHARE_MEMBASE 0x0 VDSP_SHARE_MEMBASE 0x0 VDSP_SHARE_MEMSIZE>;
	status = "okay";
};


&pinctrl {
	reg = <0x0 0x37000000 0x0 0x10000>;
	pinctrl-names = "default";

	sdx9-evk {
		pinctrl_mshc1: mshc1grp {
		kunlun,pins = <
			X9_PINCTRL_EMMC1_CLK__MSHC1_CLK_1 		X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_CMD__MSHC1_CMD_1		X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA0__MSHC1_DATA_0_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA1__MSHC1_DATA_1_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA2__MSHC1_DATA_2_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA3__MSHC1_DATA_3_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA4__MSHC1_DATA_4_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA5__MSHC1_DATA_5_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA6__MSHC1_DATA_6_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_DATA7__MSHC1_DATA_7_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			X9_PINCTRL_EMMC1_STROBE__MSHC1_STB_1		X9_PINCTRL_OPEN_DRAIN_ENABLE
			X9_PINCTRL_EMMC1_RESET_N__MSHC1_RST_N_1	X9_PINCTRL_OPEN_DRAIN_DISABLE
			>;
		};

		pinctrl_gpiotouch_lvds: touchgrp_lvds {
		kunlun,pins = <
			X9_PINCTRL_I2S_MC_SD4__GPIO_MUX2_IO80_1          0x00
			X9_PINCTRL_I2S_MC_SD5__GPIO_MUX2_IO81_1          0x00
			X9_PINCTRL_I2S_MC_SD6__GPIO_MUX2_IO82_1          0x00
			X9_PINCTRL_I2S_MC_SD7__GPIO_MUX2_IO83_1          0x00
			>;
		};
		pinctrl_gpiotouch_mipi: touchgrp_mipi {
			kunlun,pins = <
			X9_PINCTRL_EMMC2_CLK__GPIO_MUX2_IO96_1          0x00
			X9_PINCTRL_EMMC2_CMD__GPIO_MUX2_IO97_1          0x00
			>;
		};
	};
};

&gpio5 {
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_gpiotouch_lvds &pinctrl_gpiotouch_mipi>;
	status = "okay";
};
&sdhci1 {
	bus-width = <8>;
	non-removable;
	no-sdio;
	no-sd;
	card-is-emmc;
	disable-wp;
	cap-mmc-highspeed;
	keep-power-in-suspend;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	card_id = <1>;
	status = "okay";
};

&sdhci3 {
	#clock-cells = <1>;
	clocks = <&EMMC3>;
	clock-names = "core";
	max-frequency = <100000000>;
	cd-gpios = <&port5a 1 GPIO_ACTIVE_LOW>;//sch-part-D6<->gpio_a1 io1 Y19
	pwr-gpios = <&port5b 25 GPIO_ACTIVE_HIGH>;//gpio_c9
	bus-width = <4>;
	no-mmc;
	no-sdio;
	disable-wp;
	keep-power-in-suspend;
	cap-sd-highspeed;
	sd-uhs-sdr104;
	card_id = <3>;
	status = "okay";
};

&ospi1 {
	status = "disabled";
	clocks = <&OSPI1>;
	clock-names = "core";
	spi-flash@0 {
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		page-size = <256>;
		block-size = <12>;
		status = "disabled";
	};
};

&ospi2 {
	status = "okay";
	clocks = <&OSPI2>;
	clock-names = "core";
	spi-flash@0 {
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		page-size = <256>;
		block-size = <12>;
		status = "okay";
	};
	spi-nand@0 {
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		page-size = <256>;
		block-size = <12>;
		status = "disabled";
	};
};

&spi2 {
//this belong to safety domain, not handover now.
	status = "disabled";
};

&spi5 {
	status = "disabled";
};

&spi6 {
//sch core part U1502(IS62WVS5128GBL)
	status = "okay";
};

&spi7 {
	status = "disabled";
};

&mbox {
	status = "okay";
};

&vdsp_ipc {
	status = "okay";
};

&mbox_test {
	status = "okay";
};

&rpmsg0 {
	memory-region = <&rproc_0_safety>;
	reg = <0x0 RPMSG0_MEM_HEAD_BASE 0x0 RPMSG0_MEM_HEAD_SIZE>;
	mboxes = <&mbox 0x16 0x1600>;//for saf<->ap2
	status = "okay";
};

&rpmsg1 {
	memory-region = <&rproc_1_secure>;
	reg = <0x0 RPMSG1_MEM_HEAD_BASE 0x0 RPMSG1_MEM_HEAD_SIZE>;
	mboxes = <&mbox 0x17 0x1701>;//for sec<->ap2
	status = "okay";
};

&ipcc0 {
	mboxes = <&mbox 0x36 0x3600>;//for saf<->ap2
	status = "okay";
};

&ipcc1 {
	mboxes = <&mbox 0x37 0x3701>;//for sec<->ap2
	status = "okay";
};

&rtc {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usb3_id0 {
	id-gpios = <&port5e 3 GPIO_ACTIVE_LOW>;
};

&usb0 {
	dr_mode = "otg";
	status = "okay";
};

&usbdrd3_1 {
	status = "okay";
};

&usb1 {
	status = "okay";
};

&ethernet1 {
	snps,max_dma_cap_quirk = <32>;
	status = "okay";
	mdio1: mdio@1 {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		reset-gpios = <&port5a 27 GPIO_ACTIVE_LOW> ;//ospidata1 io27 ae24
		eth_phy1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};
	};
};

&ethernet2 {
	status = "okay";
};

&rstgen {
	reg = <0x0 0x38467000 0x0 0x1000>,	/* vpu1 */
		<0x0 0x38468000 0x0 0x1000>,	/* vpu2 */
		<0x0 0x38462000 0x0 0x1000>,	/* GIC 5 */
		<0x0 0x38464000 0x0 0x1000>,	/* cssys treset n */
		<0x0 0x3846e000 0x0 0x1000>,	/* cpu2 ss */
		<0x0 0x38499000 0x0 0x1000>,	/* dbg reg */
		<0x0 0x38409000 0x0 0x2000>;	/* cpu2 core */
	rstgen_resource = <
		RSTGEN_MODULE_VPU1
		RSTGEN_MODULE_VPU2
		RSTGEN_MODULE_GIC5
		RSTGEN_MODULE_CSSYS_TRESET_N
		RSTGEN_MODULE_CPU2_SS
		RSTGEN_MODULE_DBG_REG
		RSTGEN_CORE_CPU2
		>;
	status = "okay";
};

&regctl {
	reg = <0x0 0x38415000 0x0 0x1000>,
		<0x0 0x38418000 0x0 0x1000>,
		<0x0 0x38419000 0x0 0x1000>,
		<0x0 0x3841a000 0x0 0x1000>;
	reg-names = "SDRV_REG_REMAP",
			"SDRV_REG_BOOTREASON",
			"SDRV_REG_HWID",
			"SDRV_REG_STATUS";
	status = "okay";
};

&ion {
	status = "okay";
};

&hwsema {
	status = "okay";
};

&scr_sec {
	status = "okay";
};

&watchdog6 {
	wdt,auto-run = "false";
	status = "okay";
};

&pcie1 {
	status = "disabled";
};

&vce2 {
	/*
	 * op-mode options:
	 * bit 0: rng enable(1) or disable(0)
	 * bit 1: ce enable(1) or disable(0)
	 */
	op-mode = <3>;
	status = "okay";
};

&cooling_devices {
	status = "okay";
};

&pvt_sensor {
	status = "okay";
};
